@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


body{
	background-color: #E5E5E5;;
}

.header{
box-sizing: border-box;
height: 92px;
width: 100%;
padding: 15px 20px;
background: #CF2B2B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
display: flex;
flex-direction: column;
justify-content: center;
}
.header p{
	color: #FFFFFF;
}
.sub{
	font-family: 'Roboto', sans-serif;;
}
.title{
	font-family: 'Righteous', sans-serif;;
}
.main{
font-weight: 400;
font-size: 44px;
width: 100%;
}
.secondary{
	font-weight: 400;
font-size: 18px;
line-height: 21px;
width: 100%;
}
